@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

.HeaderPMain {
    background-color: white;
    text-align: center;
    padding-bottom: 1em;
}

.TituloHeader {
    color: black;
    font-family: 'Caveat Brush', cursive;
    font-size: 50px;
}
