@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

.HeaderPMain {
    background-color: white;
    text-align: center;
    padding-bottom: 1em;
}

.autosuggestHeader {
    border-color: black;
    border-radius: 10px;
    border: solid black;
}